<div id="place">
	<div class="nested-fields">
		<div class="col-sm-12">
			<div class="col-sm-12">
				<%= f.label :name %>
			</div>
			<div class="col-sm-8">
				<div class="field">
					
					<%= f.text_field :name, class: 'form-control'%>
				</div>
			</div>
			<div clas="col-sm-4">
				<%= link_to_remove_association "Remove Place", f, :class => 'btn btn-danger'%>
			</div>
			<br>
		</div>
	</div>
</div>