<h1 style="text-align: center">Ads</h1>

<div id="navbar">
	<ul>
		<li><%= link_to 'Add new Ad', new_ad_path, class: 'btn-btn success' %></li>
	</ul>
</div>

<% @ads.each do |ad| %>
	<h2>budget for <%= ad.id %> is <%= ad.budget %></h2>
<% end %>