<h1 style="text-align: center">Ads</h1> 

<%= link_to 'Add new Ad', new_ad_path, class: 'btn btn-success' %><br>

<% @ads.each do |ad| %>
	<h2 style="display:inline">Ad #<%= ad.id %>. Budget = <%= ad.budget %></h2>
	<%= link_to 'Edit', edit_ad_path(ad), class: 'btn btn-info' %>
	<br><br>
<% end %>